<ion-content>
    <div class="login-section ion-padding">
        <div class="heading ion-padding">
            <h1>Crea tu cuenta!</h1>
            <p>Inicia tu aventura Pokemon</p>
        </div>
        <div class="login-form ion-padding">
            <div class="form-input">
                <ion-icon name="person-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">NOMBRE</ion-label>
                    <ion-input ></ion-input>
                </ion-item>
            </div>
            <div class="form-input">
                <ion-icon name="mail-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">EMAIL</ion-label>
                    <ion-input type="email"></ion-input>
                </ion-item>
            </div>
            <div class="form-input">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">PASSWORD</ion-label>
                    <ion-input type="password"></ion-input>
                </ion-item>
            </div>
        </div>
        <div class="action-buttons ion-padding">
            <ion-button size="large" class="login-button">Registrarse</ion-button>
         
            <ion-button class="singup-button" size="large" fill="outline" routerLink="/login">Iniciar Sesion</ion-button>
        </div>
    </div>
</ion-content>







<!-- <h2>Registro de usuario</h2>
<form [formGroup]="formReg" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <input type="submit" value="Enviar">
</form> -->